:root {
  --primary-color--: #e4e4e4;
  --secondary-color--: #61d2dc;
  --third-color--: #41b3d3;
  --dark-color--: #444444;
}
body {
  background-color: var(--primary-color--);
  color: var(--dark-color--);
}

h1,
h2 {
  text-transform: uppercase;
}
h2 {
  font-size: 30px;
}
p {
  font-size: 16px;
}
#avatar-lg {
  width: 120px;
  border-radius: 100px;
  display: block;
  margin: 0 auto;
}
.hero {
  padding-top: 150px;
  text-align: center;
  padding-bottom: 100px;
}
.hero h1 {
  font-size: 70px;
}
.hero h3 {
  font-size: 24px;
}
#aboutme-container {
  background-color: var(--secondary-color--);
  margin: 0 auto;
  padding: 50px;
}
#aboutme-container-sd {
  display: none;
}
button {
  background-color: var(--third-color--);
  color: var(--dark-color--);
  border: 2px solid var(--third-color--);
  padding: 5px 10px;
  border-radius: 10px;
  margin: 10px;

  text-transform: uppercase;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: var(--dark-color--);
}
a:hover {
  color: var(--dark-color--);
}
#avatar-main {
  width: 300px;
  padding-right: 20px;
}
#skills-container {
  background-color: var(--third-color--);
  margin: 0 auto;
  padding: 50px;
}
#skills-sd {
  display: none;
}
#languages {
  font-size: 16px;
  font-weight: 500;
}
#language-logos {
  width: 100px;
}
.portfolio-title {
  margin-bottom: 15px;
}
#portfolio-container {
  background-color: var(--secondary-color--);
  margin: 0 auto;
  padding: 50px;
}
#portfolio-app {
  border: 2px solid var(--third-color--);
  width: 400px;
}
.overlay {
  position: relative;
  display: inline-block;
  background: #41b3d3;
  display: inline-block;
}

.overlay > img {
  vertical-align: middle;
}

.overlay::before {
  content: "LEARN MORE";
  text-align: center;
  padding-top: 40%;
  color: #e4e4e4;
  font-size: 40px;
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--third-color--);
  opacity: 0;
  transition: 0.5s ease;
}

.overlay:hover::before {
  opacity: 0.8;
}

.contact-title {
  text-align: center;
}
#contact-info {
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 15px;
}
#avatar-sm {
  width: 80px;
  border-radius: 80px;
  vertical-align: bottom;
}
#contact-sd {
  display: none;
}
footer {
  padding: 50px;
  background-color: var(--third-color--);
}
/* Initial responsiveness */
@media (max-width: 825px) {
  #avatar-lg {
    width: 100px;
  }
  .hero {
    padding-top: 120px;
    padding-bottom: 50px;
  }
  .hero h1 {
    font-size: 50px;
  }
  .hero h3 {
    font-size: 18px;
  }
  h2 {
    font-size: 22px;
  }
  #aboutme-container {
    padding: 30px;
  }
  button {
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 5px;
    text-transform: uppercase;
    font-weight: 500;
  }
  #avatar-main {
    width: 240px;
    padding-right: 10px;
  }
  #skills-container {
    padding: 30px;
  }
  p {
    font-size: 12px;
  }
  #languages {
    font-size: 12px;
  }
  #language-logos {
    width: 70px;
  }
  #portfolio-container {
    padding: 30px;
  }
  #portfolio-app {
    width: 350px;
  }
  .overlay::before {
    padding-top: 40%;
    font-size: 28px;
  }
  #contact-info,
  #contact-info-2 {
    font-size: 12px;
  }
  #avatar-sm {
    width: 60px;
    border-radius: 60px;
    vertical-align: bottom;
  }
  footer {
    padding: 30px;
  }
}

@media (max-width: 820px) {
  #portfolio-app {
    width: 300px;
  }
}
/* FOOTER ADJUSTMENT */
@media (max-width: 612px) {
  #contact {
    display: none;
  }
  #contact-sd {
    display: block;
    font-size: 12px;
  }
  #contact-sd ul {
    list-style: none;
    margin: 0;
  }

  #contact-title {
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
  }
  #contact-sub {
    margin-bottom: 10px;
  }
  #avatar-sm {
    width: 60px;
    border-radius: 60px;
    vertical-align: bottom;
    margin: 10px;
  }
  footer {
    padding: 30px;
  }
}
/* Small devices */
@media (max-width: 414px) {
  a.navbar-brand {
    font-size: 14px;
  }
  .navbar.navbar-expand-lg.fixed-top.bg-light {
    padding: 2px;
  }
  .navbar-toggler {
    max-width: 50px;
  }
  .navbar-toggler-icon {
    max-width: 25px;
  }
  .navbar ul {
    font-size: 12px;
    text-align: left;
  }

  #avatar-lg {
    width: 70px;
  }
  .hero {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .hero h1 {
    font-size: 38px;
    margin-bottom: 0px;
  }
  .hero h3 {
    font-size: 13px;
  }
  h2 {
    font-size: 22px;
  }
  #aboutme-container {
    display: none;
  }
  #aboutme-container-sd {
    display: flex;
    background-color: var(--secondary-color--);
    margin: 0 auto;
    padding: 30px;
  }
  #avatar-main-sd {
    width: 200px;
    padding-right: 20px;
    margin-bottom: 15px;
  }
  #about-row {
    margin: 0px !important;
  }
  button {
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 5px;
    text-transform: uppercase;
    font-weight: 500;
  }

  #skills-container {
    padding: 30px;
  }
  .skills {
    display: none;
  }
  #skills-sd {
    display: block;
  }
  #language-logos-sd {
    width: 50px;
  }
  #languages-sd {
    font-size: 12px;
    margin-bottom: 10px;
  }
  ul {
    list-style: none;
    text-align: center;
    margin: 0 auto;
  }

  p {
    font-size: 12px;
    margin-bottom: 10px;
  }
  #languages-sd {
    font-size: 12px;
    font-weight: 500;
  }
  #language-logos-sd {
    width: 80px;
  }
  #portfolio-container {
    padding: 30px;
  }
  #portfolio-app {
    width: 350px;
  }
  .overlay::before {
    padding-top: 40%;
    font-size: 20px;
  }
}
