:root {
  --primary-color--: #e4e4e4;
  --secondary-color--: #61d2dc;
  --third-color--: #41b3d3;
  --dark-color--: #444444;
}
body {
  background-color: var(--primary-color--);
}
#avatar-lg {
  width: 150px;
  border-radius: 100px;
  display: block;
  margin: 0 auto;
}
.hero {
  padding-top: 150px;
  text-align: center;
}
